
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <link href="~/Style/loginStyleSheet.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>loginPage</title>
</head>
<body>
    <div class="logo"></div>
    <div class="login-block" style="margin-top:10px">
        <h1>Information</h1>
        <p>This is for testing purposes</p>
        <p>Admin: username="john@hotmail.com" password="John123"</p>
        <p>Agent: username="ali@hotmail.com" password="Ali123"</p>
        <p>The user above is not hard coded but for the tester to login to the system since for original design, admin is register by the system</p>
        <p>Link to GitHub: ""</p>
        <p>Link to presentation video:</p>
        <p>Part 1: "https://web.microsoftstream.com/video/56fcacf0-dbaf-476c-9ab0-892e7682e5cf"</p>
        <p>Part 2: "https://web.microsoftstream.com/video/2c53540d-7b13-47ff-82e5-287e26fbe7aa"</p>
        <button onclick="@("window.location.href='" + @Url.Action("Index", "Login") + "'");">Back</button>
    </div>

    }
</body>

</html>

