<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/48ff174a-81b3-414a-89ed-77e1c9cd256b/resourcegroups/CMSNew_RG/providers/Microsoft.Web/sites/CMSWebSystemNew</ResourceId>
    <ResourceGroup>CMSNew_RG</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cmswebsystemnew.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cmswebsystemnew.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CMSWebSystemNew</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CMSWebSystemNew</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CMSContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:cmswebsystemnewdbserver.database.windows.net,1433;Initial Catalog=CMSWebSystemNew_db;User ID=LimChanHao@cmswebsystemnewdbserver;Password=Chanhao775" Name="Data Source=tcp:cmswebsystemnewdbserver.database.windows.net,1433;Initial Catalog=CMSWebSystemNew_db;User Id=LimChanHao@cmswebsystemnewdbserver;Password=Chanhao775;MultipleActiveResultSets=true" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CMS_WebSystem.Models.CMSContext, CMS_WebSystem" MigrationConfiguration="CMS_WebSystem.Migrations.Configuration, CMS_WebSystem" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="CMSContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:cmswebsystemnewdbserver.database.windows.net,1433;Initial Catalog=CMSWebSystemNew_db;User ID=LimChanHao@cmswebsystemnewdbserver;Password=Chanhao775;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>